<!-- Top Bar -->
<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <!--<a href="/" class="navbar-brand d-flex w-50 mr-auto">Navbar 3</a>-->
    <a class="navbar-brand m-l-20" routerLink="/">
        <img src="../../../content/images/logo.svg" width="50" alt="Wiss3n">
        <span class="m-l-10">Wiss3n</span>
    </a>

    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">

        <div class="nav navbar-nav ml-auto w-100 justify-content-end">
            <a class="btn-primary btn-simple btn-round  m-r-10" routerLink="account/login" routerLinkActive="active">
                <span>Login</span>
            </a>
            <a class="btn-primary btn-simple btn-round m-r-20" routerLink="account/register" routerLinkActive="active">
                <span>Register</span>
            </a>
        </div>
    </div>
</nav>



