<div>
    <h2>
        <span jhiTranslate="klassenchatappApp.schoolClass.home.title">School Classes</span>
        <button class="btn btn-primary float-right jh-create-entity create-school-class-class-app" [routerLink]="['/', { outlets: { popup: ['school-class-class-app-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="klassenchatappApp.schoolClass.home.createLabel">
            Create new School Class
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schoolClasses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="start"><span jhiTranslate="klassenchatappApp.schoolClass.start">Start</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="end"><span jhiTranslate="klassenchatappApp.schoolClass.end">End</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="klassenchatappApp.schoolClass.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="klassenchatappApp.schoolClass.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let schoolClass of schoolClasses ;trackBy: trackId">
                <td><a [routerLink]="['../school-class-class-app', schoolClass.id ]">{{schoolClass.id}}</a></td>
                <td>{{schoolClass.start | date:'mediumDate'}}</td>
                <td>{{schoolClass.end | date:'mediumDate'}}</td>
                <td>{{schoolClass.name}}</td>
                <td>
                    {{schoolClass.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../school-class-class-app', schoolClass.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-class-class-app/'+ schoolClass.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-class-class-app/'+ schoolClass.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="schoolClasses && schoolClasses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
