<ng-template  #customWeekEventTemplate
    let-weekEvent="weekEvent"
    let-tooltipPlacement="tooltipPlacement"
    let-eventClicked="eventClicked"
    let-tooltipTemplate="tooltipTemplate"
    let-tooltipAppendToBody="tooltipAppendToBody">
    <jhi-calendar-view-week-cell [event]="weekEvent.event"></jhi-calendar-view-week-cell>
</ng-template>


<mwl-calendar-week-view
    [excludeDays]="excludeDays"
    [viewDate]="viewDate"
    [locale]="'de'"
    [events]="events"
    (dayHeaderClicked)="onDayClicked($event)"
    (eventClicked)="onEventClicked($event)"
    [eventTemplate]="customWeekEventTemplate">
</mwl-calendar-week-view>
