<jhi-alert></jhi-alert>
<div class="row board">
    <div class="left-board col-md-2">
        <jhi-school-class-list></jhi-school-class-list>
        <div>
            <h4>
                <span class="title">Fächer</span>
                <button id="jh-view-teaching-subject"
                        class="btn btn-outline-dark btn-sm rounded-circle  jh-create-entity create-school-class"
                        [routerLink]="['/teaching-subject/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>
                <button id="jh-view-entity" class="btn btn-outline-dark btn-sm rounded-circle  jh-create-entity create-school-class" [routerLink]="['/teaching-subject']" >
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                </button>
            </h4>
        </div>

        <div>
            <h4>
                <span class="title">Aufgabe</span>
                <button id="jh-create-task"
                        class="btn btn-outline-dark btn-sm rounded-circle  jh-create-entity create-school-class"
                        [routerLink]="['/school-class/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                </button>
            </h4>
        </div>

    </div>
    <div class="right-bord col-md">
        <jhi-calendar></jhi-calendar>
    </div>
</div>
