<div class="custom-cell">
    <div class="cal-cell-top" *ngIf="day.date.getDay() > 0">
        <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <small class="custom-event-month" *ngFor="let event of day.events; index as i; first as isFirst">

        <!--<span class="custom-event-month-subject" [ngStyle]="{'color': event.color.primary}">{{event.meta.subjectHourData.prefix}}</span>-->
        {{event.title}}
        </span>
    </small>
</div>


