<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    <p class="footer-logo"><img src="../../../content/images/logo.svg" alt="Wiss3n"></p>
                    <p>Copyright © {{date}}. Contact us <a href="https://github.com/EnricoSchw/wiss3n" target="_blank">on
                        GitHub</a></p>
                </div>
                <ul class="footer_social">
                    <li><a href="https://github.com/EnricoSchw/wiss3n" target="_blank"><i class="zmdi zmdi-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
