<footer class="footer">
    <article class="panel__wrapper">
        <div class="panel__content text-center">
            <ul class="social fadeInUp" data-wow-duration="1.5s"
                style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">
                <li>
                    <a target="_blank" href="https://github.com/EnricoSchw/wiss3n">
                        <span class="fa-rotate-45-back" ><fa-icon [icon]="['fab', 'github']" [fixedWidth]="true"></fa-icon></span>
                    </a>
                </li>
            </ul>
            <p class="copyright">
                <a class="copy-link" href="http://wiss3n.de">WiSS3N 2018</a><br>
                Contact us <a target="_blank" href="https://github.com/EnricoSchw/wiss3n"><b>on GitHub</b></a>
            </p>
        </div>
    </article>
</footer>
