<div [hidden]="submitted">
    <div class="card text-center">
        <form name="selectForm" role="form" novalidate #selectForm="ngForm" (ngSubmit)="onSubmit()">

            <small class="text">
                <fa-icon class="col-amber" [icon]="'graduation-cap'"></fa-icon>
                <strong>Schulfach</strong>
            </small>

            <div class="form-group select">
                <select class="form-control" id="field_teachingSubject" required [(ngModel)]="teachingSubject"
                        name="teachingSubject"
                        [compareWith]="byId">
                    <option *ngFor="let ts of (teachingSubjectList$ | async)"
                            [ngValue]="ts"
                            [selected]="teachingSubject.name === ts.name">{{ts.name}}
                    </option>
                </select>
            </div>


            <div class="form-group">
                <button type="submit" class="btn  btn-round bg-amber">
                    <fa-icon [icon]="'check'"></fa-icon>
                </button>
            </div>
        </form>

    </div>
</div>

<div class="progress-container" [hidden]="!submitted">

    <div class="card text-center">
        <div class="form-group">
            <small class="text-muted">
                <button type="submit" class="btn btn-round btn-simple btn-sm col-amber" (click)="submitted=false">
                    <fa-icon style="" [icon]="'graduation-cap'"></fa-icon>
                    <small class="text">Edit</small>
                </button>
            </small>
        </div>

        <small class="text col-blue"><strong>Aufgaben:</strong></small>

        <div class="form-group">

            <button href="javascript:void(0);" class="btn btn-primary btn-round">
                <fa-icon style="" [icon]="'tasks'"></fa-icon>
                <fa-icon style="" [icon]="'arrow-right'"></fa-icon>
            </button>
        </div>
    </div>
</div>
