<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-task-heading" jhiTranslate="wiss3NApp.task.home.createOrEditLabel">Create or edit a Task</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!task.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="task.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.task.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="task.title" required minlength="2"/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.task.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="task.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.task.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="task.type" id="field_type"  required>
                        <option value="HAUSAUFGABE">{{'wiss3NApp.TaskType.HAUSAUFGABE' | translate}}</option>
                        <option value="VORTRAG">{{'wiss3NApp.TaskType.VORTRAG' | translate}}</option>
                        <option value="KURZKONTROLLE">{{'wiss3NApp.TaskType.KURZKONTROLLE' | translate}}</option>
                        <option value="TEST">{{'wiss3NApp.TaskType.TEST' | translate}}</option>
                        <option value="KLASSENARBEIT">{{'wiss3NApp.TaskType.KLASSENARBEIT' | translate}}</option>
                        <option value="KLAUSUR">{{'wiss3NApp.TaskType.KLAUSUR' | translate}}</option>
                        <option value="MUENDLICH">{{'wiss3NApp.TaskType.MUENDLICH' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.task.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="task.date"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.task.grade" for="field_grade">Grade</label>
                    <input type="number" class="form-control" name="grade" id="field_grade"
                        [(ngModel)]="task.grade" min="1" jhiMin="1" max="15" jhiMax="15"/>
                    <div [hidden]="!(editForm.controls.grade?.dirty && editForm.controls.grade?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.grade?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.grade?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 15 }">
                            This field cannot be more than 15.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.grade?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.task.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="task.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === task.user?.id ? task.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.task.teachingHour" for="field_teachingHour">Teaching Hour</label>
                    <select class="form-control" id="field_teachingHour" name="teachingHour" [(ngModel)]="task.teachingHour" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teachingHourOption.id === task.teachingHour?.id ? task.teachingHour : teachingHourOption" *ngFor="let teachingHourOption of teachinghours; trackBy: trackTeachingHourById">{{teachingHourOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
