<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="task">
            <h2><span jhiTranslate="wiss3NApp.task.detail.title">Task</span> {{task.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wiss3NApp.task.title">Title</span></dt>
                <dd>
                    <span>{{task.title}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.task.description">Description</span></dt>
                <dd>
                    <span>{{task.description}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.task.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'wiss3NApp.TaskType.' + task.type}}">{{task.type}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.task.date">Date</span></dt>
                <dd>
                    <span>{{task.date}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.task.grade">Grade</span></dt>
                <dd>
                    <span>{{task.grade}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.task.user">User</span></dt>
                <dd>
                    {{task.user?.login}}
                </dd>
                <dt><span jhiTranslate="wiss3NApp.task.teachingHour">Teaching Hour</span></dt>
                <dd>
                    <div *ngIf="task.teachingHour">
                        <a [routerLink]="['/teaching-hour', task.teachingHour?.id, 'view']">{{task.teachingHour?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task', task.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
