@import "../../../../content/scss/variables";

.subject-hour-view {
    position: absolute;
    background-color: $app-light-gray;
    min-width: 220px;
    right: 0px;
    left: 150px;
    min-height: 660px;
    border-left: 1px solid $app-light-gray-border;
    border-top: 1px solid $app-light-gray-border;
    z-index: 100;
    font-weight: lighter;
}
