@import "../../../../content/scss/variables";

.subject-hour-view {
    position: absolute;
    background-color: $app-light-blue;
    min-width: 220px;
    right: 0px;
    left: 150px;
    min-height: 660px;
    border-left: 1px solid #2b3033;
    z-index: 100;
}
