@import "../../content/scss/variables";
@import "../../content/scss/components/colors";

// Header --------------------------------------------------------
.calendar-head {
    padding-bottom: 2em;
    padding-top: 2em;
    margin: 0;
    color: $app-gray-blue;
    border-bottom: 0;
    h3 {
        font-weight: lighter !important;
    }

    .btn-primary {
        color: $app-light-gray;
        background-color: $app-blue;
    }
    .btn-primary:hover, .btn-primary.active {
        color: $app-yellow !important;
        background-color: $app-dark-gray !important;
    }

}

.cal-cell-row.cal-header {
    color: $app-gray-blue;
    font-size: large;
    font-weight: lighter !important;
}

.cal-month-view {
    .cal-days {
        border-top: 1px solid $app-gray-blue !important;
        border-right: none;
        border-left: none;
        .cal-cell-row {
            border-bottom: 1px solid $app-gray-blue;
        }

    }
}

// Hover ---------------------------------------------------------
$hover: $blue-grey-700;
$hover-bg-off: $app-light-blue;
$hover-bg-row: $hover;
$hover-bg-cell: $hover;

// Hover Header --------------------------------------------------
.cal-cell-row.cal-header:hover {
    background-color: $hover-bg-off !important;
}

.cal-header {
    .cal-cell:hover {
        background-color: $hover-bg-off !important;
    }
}

// Hover Cell ----------------------------------------------------
.cal-cell-row:hover {
    background-color: $hover-bg-row !important;
}

.cal-cell.cal-day-cell:hover {
    background-color: $hover-bg-cell !important;
}

// Day Number ---------------------------------------------------
.cal-month-view .cal-day-number {
    margin-top: 3px !important;
    margin-left: 15px !important;
    margin-bottom: 2px !important;
    float: left !important;
    font-weight: bold;
}

.cal-cell-top {
    min-height: 0 !important;
    position: relative;
    flex: none !important;
}

.custom-event-month {
    color: $app-gray-blue;
    margin: 0 2px 0 15px;

    &-subject {
        font-weight: bold;
        margin-right: 3px;
    }
}

small {
    font-size: 60% !important;
}

// Week ------------------------------------------------------------------


// Week header ...........................................................
.cal-week-view .cal-day-headers {
    display: flex;
    margin-bottom: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #555;
    margin-left: 2px;
    margin-right: 2px;
    color: #888;
}

.cal-week-view .cal-day-headers .cal-header:hover{
    background-color: transparent;
}

.cal-week-view .cal-day-headers .cal-header:not(:last-child) {
    border-right: 1px solid #555;
}

// Week Row ..............................................................

.cal-week-view .cal-event-container:not(:last-child) {
    border-right: 1px solid #555;
}


.cal-week-view .cal-events-row {
    height: 124px;
}

.cal-week-view .cal-event {
    height: 120px;
    line-height: normal;
    border-radius: 25px;
    border: 1px solid #73AD21;
    cursor: pointer;
}

.cal-week-view .cal-event .cal-event-title {
    line-height: 30px;
}

// Day --------------------------------------------------------------------

