<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
            Event:
            <pre>{{ modalData?.event | json }}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
    </div>
</ng-template>

<jhi-calendar-menu #calendarMenu></jhi-calendar-menu>


<ng-template #loading>
    <div class="text-center" style="width: 100%">
        <div class="fa fa-spin fa-circle-notch fa-5x" style="position: relative; left: 45%; display: block;height: 100px;width: 100px; ">
            <fa-icon [icon]="'circle-notch'"><div class="fa fa-spin fa-circle-notch fa-5x"></div></fa-icon>
        </div>
        <br>
        Loading events...
    </div>
</ng-template>

<div *ngIf="weekEvents$ | async; else loading; let events">
    <div [ngSwitch]="menu.view">
        <jhi-calendar-view-month
            *ngSwitchCase="'month'"
            [viewDate]="menu.viewDate"
            [events]="events"
            [excludeDays]="menu.excludeDays"
            (dayClicked)="onDayInMonthClicked($event)">
        </jhi-calendar-view-month>
        <jhi-calendar-view-week
            *ngSwitchCase="'week'"
            [viewDate]="menu.viewDate"
            [events]="events"
            [excludeDays]="menu.excludeDays"
            (cellClicked)="onCellInWeekClicked($event)">
        </jhi-calendar-view-week>
        <jhi-calendar-view-day
            *ngSwitchCase="'day'"
            [viewDate]="menu.viewDate"
            [events]="events">
        </jhi-calendar-view-day>
    </div>
</div>


