.cover {
    background: url("../../../content/images/info/alexis-brown-82988-unsplash-min.jpg") no-repeat center top;
    background-size: cover;
    padding-top: 70px;
    height: 100vh;
}

section {
    display: block;
}
