<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Passwort<small>Passwort Einstellungen</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="/"><i class="zmdi zmdi-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Passwort</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2 jhiTranslate="password.title" translateValues="{username: '{{account.login}}'}" *ngIf="account">Password for [<b>{{account.login}}</b>]</h2>
                    </div>
                    <div class="body">
                        <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                            <strong>Password changed!</strong>
                        </div>
                        <div class="alert alert-danger" *ngIf="error"  jhiTranslate="password.messages.error">
                            <strong>An error has occurred!</strong> The password could not be changed.
                        </div>

                        <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                            The password and its confirmation do not match!
                        </div>

                        <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                    <label class="form-control-label" for="currentPassword" jhiTranslate="global.form.currentpassword">Current password</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8">
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" #currentPasswordInput="ngModel"
                                               placeholder="{{'global.form.currentpassword.placeholder' | translate}}"
                                               [(ngModel)]="currentPassword" required>
                                    </div>
                                    <div *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">
                                        <small class="form-text text-danger"
                                               *ngIf="currentPasswordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                                            Your password is required.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                    <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword">New password</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8">
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
                                               placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                                               [(ngModel)]="newPassword" minlength=4 maxlength=50 required>
                                    </div>
                                    <div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid">
                                        <small class="form-text text-danger"
                                               *ngIf="newPasswordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                                            Your password is required.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="newPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                                            Your password is required to be at least 4 characters.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="newPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                                            Your password cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-8">
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                                               placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                                    </div>
                                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                        <small class="form-text text-danger"
                                               *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                                            Your confirmation password is required.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                                            Your confirmation password is required to be at least 4 characters.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                                            Your confirmation password cannot be longer than 50 characters.
                                        </small>
                                    </div>
                                </div>
                            </div>


                            <div class="row clearfix">
                                <div class="col-sm-8 offset-sm-2">
                                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary" jhiTranslate="password.form.button">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
