/** Features *****/
#features {
  padding: 100px 0;
  background:#30373e;

  .section-title{
    color:$grey-300;
  }  
  .section-subtitle{
    color:$grey-400;
  }
  
  .features-item {
      margin: 10px 0;
      text-align: center;
      
      h3{
            font-size: 18px;
            line-height: 28px;
            font-weight: $font-weight-normal;
            @extend .m-b-10;
            color: $grey-200;
            text-transform: uppercase;
      }
      p{
        color: $grey-400;
        font-weight: $font-weight-light;
      }
      
      .icon-wrapper {
            @extend .m-b-25;
            width:100px;
            height:100px;
            @extend .inlineblock;
            @extend .l-cyan;
            border-radius:$border-radius-extreme;
            transition: all .50s ease-in-out;
            -moz-transition: all .50s ease-in-out;
            -webkit-transition: all .50s ease-in-out;
           
           .features-icon {
                font-size:36px;
                line-height:100px;
                @extend .inlineblock;
                text-align: center;
                color: $white;                
            }
      }
  }
  
}
/** features-btm *****/
.features-btm{
    padding:100px 0;
    
    img {
        width: 100%;
    }   
    .features-list-dark{
        @extend .inlineblock;
        @extend .m-t-20;
        
        li{
            float: left;
            font-size: 15px;
            line-height:30px;            
            color:$grey-900;            
            position:relative;
            @extend .p-l-25;
            width:100%;
            
            &:before{
                position:absolute;
                left:0;
                color:$cyan-600;
                content:"\f26b";
                font-family: 'Material-Design-Iconic-Font';                                
            }
        }
    }
}
/** Buy *****/
#ready-to-buy {
  padding:80px 0px;
  @extend .l-parpl;
  
  p{
    @extend .margin-0;
  }
  h3{
    @extend .margin-0;
  }
  form{
    @extend .m-t-10;
    
    input{
        color:$white;
		&:focus{
			border-color:$white;
		}
        
        &::placeholder{
            color: $grey-300;
        }
    }
    .btn{
        
        @extend .margin-0;        
        i {
          font-size: 12px;
          @extend .m-l-15;
        }
    }
  }
}
/** portfolio *****/
#portfolio{
    padding:100px 0;

    .popup-gallery {
        @extend .inlineblock;
        position: relative;
        @extend .m-b-30;
        
        img{
            position: relative;
            z-index: 10;
            width: 100%;
            height: auto;
            transition: all 0.25s ease-in-out;
            border-radius: $border-radius-large;
        }
        
        span.eye-wrapper{
            opacity:0;
            display: none;
        }
        
        &:hover{
            span.eye-wrapper{
                background-color: $black;
                position: absolute;
                @extend .displayblock;
                overflow: hidden;
                z-index:999;
                height: 100%!important;
                top: 0%;
                @extend .m-t-0;
                left: 0%;
                right: 0%;
                font-size: 22px;
                color: $white;
                text-align: center;
                font-weight: $font-weight-light;
                opacity:0.8;
                border-radius: $border-radius-large;
                
                i{
                    position: absolute;
                    @extend .inlineblock;
                    font-size: 38px;
                    z-index: 3;
                    top: 50%!important;
                    margin-top: -19px!important;
                    left: 0%;
                    right: 0%;
                }
            }
        }
    }
}
/** Amazing Services *****/
#services{
    padding:100px 0;
    
    img{
        width:100%;
    }
    
    .services-icon{
        @extend .displayblock;
        left: 0px;
        top: 5px;
        color: $cyan-500;
        font-size:30px;
        text-align: left;    
        @extend .m-t-20;
    }
    
    .services-text{
        h4{
            font-size:17px;
            @extend .m-t-0;
            @extend .m-b-5;
            color: $grey-900;
            font-weight:$font-weight-normal;
            text-transform:uppercase;
        }
        p{
            font-size: 15px;            
        }
    }
}

/** fun-facts-wrapper *****/
.fun-facts-wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
    background: url(../images/section-bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    padding: 100px 0 100px 0;
    
    .fun-facts-box {
        float: left;
        width: 25%;
        padding-top: 15px;
        
        i {
            font-size: 44px;
            line-height: 60px;
            color: $cyan-500;
        }
    
        .fun-facts-title {
            font-size: 16px;            
            color: $white;
            font-style: italic;
            
            span {
                font-size: 40px;
                line-height: 42px;
                font-weight: 600;
                font-style: normal;
                color: $white;
            }
        }
    }
}

/** team *****/
#team {
  padding: 100px 0;
  
  .team{
      @extend .m-t-20;
    
    .team-player{
        text-align:center;
        
        .title{
            font-size:18px;
            color:$grey-900;
            font-weight: $font-weight-normal;
            @extend .m-t-20;
            @extend .m-b-5;
        }
        
        img{
            max-width: 170px;
            @extend .img-raised;
        }
        .social-icon{
            font-size: 20px;
            padding: 0 10px;
        }
    }
  }
}


/** Plan *****/
#plan {
  padding: 100px 0;
  background-color: #eef0f1;
  
  h2{
    color:#30373e;
    @extend .m-t-0;
  }
  .subtitle {
      color: #30373e;
  }
  
  .toggle-container {
      margin-bottom: 70px;
  }
  
  .toggle-container{
    .switch-toggles {
      position: relative;
      width: 262px;
      height: 50px;
      border: 1px solid rgba(38, 39, 45, 0.2);
      border-radius: 30px;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
    }
  }
}
#plan .toggle-container .switch-toggles .individual, #plan .toggle-container .switch-toggles .company {
  position: relative;
  width: 130px;
  float: left;
  padding: 13px 10px;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  font-size: 15px;
  color: $grey-600;
  transition: color 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}

#plan .toggle-container .switch-toggles .individual.active,
#plan .toggle-container .switch-toggles .company.active {
  color: $grey-900;
}

#plan .toggle-container .switch-toggles:after {
  position: absolute;
  content: "";
  width: 122px;
  height: 42px;
  background: $white;
  left: 3px;
  top: 3px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
  -moz-box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
  -webkitbox-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
  transition: all 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}

#plan .toggle-container .switch-toggles.active:after {
  left: 135px;
  top: 3px;
}
#plan{
    .info {
      font-size: 14px;
      margin-top: 24px;
    }
    
    .price-table {
      position: relative;
      width: 340px;
      max-width: 50%;
      float: left;
      padding: 20px 0;
    }
    
    .price-table{
    
        .table-inner {
          background-color: $white;
          padding: 40px 15px 50px;
          
          h3 {
              margin: 0 auto 28px;
            }
          
          .price {
              font-size: 11px;
              font-weight: $font-weight-bold;
              text-transform: uppercase;
              letter-spacing: 0.1em;
              color: $grey-900;
              padding: 9px 18px;
              border: 1px solid rgba(38, 39, 45, 0.2);
              @extend .inlineblock;
              @extend .m-b-40;
              border-radius: 30px;
              -moz-border-radius: 30px;
              -webkit-border-radius: 30px;
            }
            
            .phrase {
              font-size: 20px;
              line-height: 28px;
              margin-bottom: 38px;
            }
            
            .btn {
              width: 210px;
              max-width: 100%;
            }
            
            .feature-list{
            
                li {
                  font-size: 16px;
                  line-height: 24px;
                  color: $grey-900;
                  margin-bottom: 12px;
                  
                  &:last-child {
                      margin-bottom: 34px;
                    }
                  
                  i {
                      color: #6fc754;
                    }
                }
            }
        }
    }
}
#plan .price-table.highlighted {
  z-index: 2;
  @extend .padding-0;
  box-shadow: 15px 25px 50px 0px rgba(92, 95, 101, 0.2);
  -moz-box-shadow: 15px 25px 50px 0px rgba(92, 95, 101, 0.2);
  -webkit-box-shadow: 15px 25px 50px 0px rgba(92, 95, 101, 0.2);
}
#plan .price-table.highlighted h3,
#plan .price-table.highlighted .phrase,
#plan .price-table.highlighted .feature-list li{ color:$white;}

#plan .price-table.highlighted .price{ color:$white; border-color:$white;}
#plan .price-table.highlighted .table-inner {
  background-color: #30373e;
  padding: 60px 15px 70px;
}

#plan .price-table.highlighted .btn-blue {
  background-color: #6fc754;
  color: $white;
}

#plan #price_tables .individual, #plan #price_tables .company {
  position: relative;
  width: 100%;
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  transition: opacity 0.97s, -webkit-transform 0.97s;
  transition: opacity 0.97s, transform 0.97s;
  transition: opacity 0.97s, transform 0.97s, -webkit-transform 0.97s;
  transition-timing-function: cubic-bezier(0.545, 0, 0.05, 1);
}

#plan #price_tables .individual .price-table, #plan #price_tables .company .price-table {
  display: none;
}

#plan #price_tables .individual.active, #plan #price_tables .company.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#plan #price_tables .individual.active .price-table, #plan #price_tables .company.active .price-table {
  @extend .displayblock;
}
/** Logs *****/
.c-logo-part{    
    padding: 25px 0;
    @extend .l-cyan;
    
    ul {
        @extend .padding-0;
        @extend .margin-0;
        list-style: none;
        text-align: center;
        
        li{
            @extend .inlineblock;
            margin: 0 25px;
            
            a{
                @extend .inlineblock;
                margin: 0 20px;
            }
        }
    }
}

/** Subscribe *****/
#subscribe {
  padding: 50px 0;
  background:#30373e;
  
  h2{
    color:$white;
    @extend .margin-0;
    line-height:22px;
    font-size:20px;
    text-transform:uppercase;
  }
  .promise{
    color:$grey-300;
    font-size:16px;
    @extend .m-t-5;
    @extend .m-b-0;
  }
  .btn {
      padding-left: 34px;
      padding-right: 34px;
      @extend .margin-0;
  }
  .form-group{
  	input{
		color:$white;
		
		&:focus{
			border-color:$white;
		}
	}
  }
}

/** Get in touch *****/

#contact{
    padding:100px 0;
}
/** Footer *****/
#footer {
  background:#eef0f1;
  padding:60px 0;
  
  .footer-logo {
    @extend .m-b-20;
    img{
        width:150px;
    }
   }
    
    .footer_social {
        width: 100%;
        max-width: 1140px;
        @extend .displayblock;
        @extend .p-t-5;
        margin: 0 auto;
        text-align: center;
        
        li {
            @extend .inlineblock;
            @extend .margin-0;
            line-height: 100%!important;
            
            i {
                @extend .inlineblock;
                margin: 0 4px;
                width: 36px;
                height: 36px;
                padding: 8px 8px;
                border: 1px solid $grey-500;
                border-radius: 50%;
                font-size: 18px!important;
                color: $grey-500;
                background-color: transparent;
                transition: all .5s ease-in-out;
                -moz-transition: all .25s ease-in-out;
                -webkit-transition: all .25s ease-in-out;
            }
        }
    }
}
