@import "../../../content/scss/variables";

.calendar-head {
    padding-bottom: 2em;
    padding-top: 2em;
    margin: 0;
    color: $app-gray-blue;
    border-bottom: 1px solid $app-gray-blue;
    h3 {
        font-weight: lighter !important;
    }

    .btn-primary {
        color: $app-light-gray;
        background-color: $app-blue;
    }
    .btn-primary:hover, .btn-primary.active {
        color: $app-yellow !important;
        background-color: $app-dark-gray !important;
    }

}

.cal-cell-row.cal-header{
    color: $app-gray-blue;
    font-size: large;
    font-weight: lighter !important;
}

.cal-month-view{
    .cal-days {
        border-top: 1px solid $app-gray-blue !important;
        border-right: none;
        border-left: none;
        .cal-cell-row {
            border-bottom: 1px solid $app-gray-blue;
        }

    }
}

// Hover ---------------------------------------------------------
$hover: #e7e8ee;
$hover-bg-off: $app-light-blue;
$hover-bg-row: $hover;
$hover-bg-cell: $hover;

// Hover Header --------------------------------------------------
.cal-cell-row.cal-header:hover{
    background-color: $hover-bg-off !important;
}

.cal-header {
    .cal-cell:hover {
        background-color: $hover-bg-off !important;
    }
}

// Hover Cell ----------------------------------------------------
.cal-cell-row:hover {
    background-color: $hover-bg-row !important;
}
.cal-cell.cal-day-cell:hover{
    background-color: $hover-bg-cell !important;
}


// Day Number ---------------------------------------------------
.cal-month-view .cal-day-number {
    margin-top: 15px !important;
    margin-left: 15px !important;
    float: left !important;
}
