<div class="row text-center calendar-head">
    <div class="col-md-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="skipWeekends('back')">
                Previous
            </div>
            <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate">
                Today
            </div>
            <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="skipWeekends('forward')">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                (click)="view = 'month'"
                [class.active]="view === 'month'">
                Month
            </div>
            <div
                class="btn btn-primary"
                (click)="view = 'week'"
                [class.active]="view === 'week'">
                Week
            </div>
            <div
                class="btn btn-primary"
                (click)="view = 'day'"
                [class.active]="view === 'day'">
                Day
            </div>
        </div>
    </div>
</div>
<br>


<ng-template #customMonthCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top" *ngIf="day.date.getDay() > 0">
        <!--<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>-->
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <small class="custom-event-month" *ngFor="let event of day.events; index as i; first as isFirst">
        <span *ngIf="event.meta.type !== 'subject'"><span class="dot">MA</span>{{event.title}}</span>
    </small>

</ng-template>


<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [excludeDays]="excludeDays"
        [locale]="locale"
        [cellTemplate]="customMonthCellTemplate"
        (dayClicked)="viewDate = $event.day.date; view = 'week'">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [excludeDays]="excludeDays"
        [viewDate]="viewDate"
        [locale]="locale"
        [events]="events"
        (dayHeaderClicked)="viewDate = $event.day.date; view = 'day'">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        [locale]="de"
        [dayStartHour]="7"
        [dayEndHour]="17">
    </mwl-calendar-day-view>
</div>
