<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGradeLabel" jhiTranslate="klassenchatappApp.grade.home.createOrEditLabel">Create or edit a Grade</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!grade.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="grade.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.grade.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="grade.date"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.grade.value" for="field_value">Value</label>
            <input type="number" class="form-control" name="value" id="field_value"
                [(ngModel)]="grade.value" required min="1" max="6"/>
            <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.value?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.value?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 6 }">
                    This field cannot be more than 6.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.value?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.grade.additional" for="field_additional">Additional</label>
            <select class="form-control" name="additional" [(ngModel)]="grade.additional" id="field_additional" >
                <option value="PLUS">{{'klassenchatappApp.GradeAdditional.PLUS' | translate}}</option>
                <option value="MINUS">{{'klassenchatappApp.GradeAdditional.MINUS' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.grade.point" for="field_point">Point</label>
            <input type="number" class="form-control" name="point" id="field_point"
                [(ngModel)]="grade.point" min="1" max="15"/>
            <div [hidden]="!(editForm.controls.point?.dirty && editForm.controls.point?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.point?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.point?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 15 }">
                    This field cannot be more than 15.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.point?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.grade.task" for="field_task">Task</label>
            <select class="form-control" id="field_task" name="task" [(ngModel)]="grade.taskId" required>
                <option *ngIf="!editForm.value.task" [ngValue]="null" selected></option>
                <option [ngValue]="taskOption.id" *ngFor="let taskOption of tasks; trackBy: trackTaskById">{{taskOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.task?.dirty && editForm.controls.task?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.task?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.grade.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="grade.userId"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
