<div>
    <h2>
        <span jhiTranslate="klassenchatappApp.grade.home.title">Grades</span>
        <button class="btn btn-primary float-right jh-create-entity create-grade-class-app" [routerLink]="['/', { outlets: { popup: ['grade-class-app-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="klassenchatappApp.grade.home.createLabel">
            Create new Grade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="grades">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">Nr</span></th>
            <th><span jhiTranslate="klassenchatappApp.grade.date">Date</span></th>
            <th><span jhiTranslate="klassenchatappApp.grade.value">Value</span></th>
            <th><span jhiTranslate="klassenchatappApp.grade.additional">Additional</span></th>
            <th><span jhiTranslate="klassenchatappApp.grade.point">Point</span></th>
            <th><span jhiTranslate="klassenchatappApp.grade.task">Task</span></th>
            <th><span jhiTranslate="klassenchatappApp.grade.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grade of grades ;trackBy: trackId; let i = index">
                <td><a [routerLink]="['../grade-class-app', grade.id ]">{{i +1 }}</a></td>
                <td>{{grade.date | date:'mediumDate'}}</td>
                <td>{{grade.value}}</td>
                <td jhiTranslate="{{'klassenchatappApp.GradeAdditional.' + grade.additional}}">{{grade.additional}}</td>
                <td>{{grade.point}}</td>
                <td>
                    <div *ngIf="grade.taskId">
                        <a [routerLink]="['../task-class-app', grade.taskId  ]" >{{grade.taskTitel}}</a>
                    </div>
                </td>
                <td>
                    {{grade.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../grade-class-app', grade.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'grade-class-app/'+ grade.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'grade-class-app/'+ grade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
