
<div *ngIf="grade">
    <h2><span jhiTranslate="klassenchatappApp.grade.detail.title">Grade</span> {{grade.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="klassenchatappApp.grade.date">Date</span></dt>
        <dd>
            <span>{{grade.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.grade.value">Value</span></dt>
        <dd>
            <span>{{grade.value}}</span>
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.grade.additional">Additional</span></dt>
        <dd>
            <span jhiTranslate="{{'klassenchatappApp.GradeAdditional.' + grade.additional}}">{{grade.additional}}</span>
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.grade.point">Point</span></dt>
        <dd>
            <span>{{grade.point}}</span>
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.grade.task">Task</span></dt>
        <dd>
            <div *ngIf="grade.taskId">
                <a [routerLink]="['/task-class-app', grade.taskId]">{{grade.taskTitel}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'grade-class-app/'+ grade.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
