@import "../../../content/scss/variables";

h4 {
    margin-top: 2em;
    font-size: smaller;
    color: $app-gray-blue;
    padding-right: 2em;

    button {
        width: 30px;
        height: 30px;
        margin-left: 0.5em;
    }

    .title {
        overflow: auto;
        margin-right: 1em;
        line-height: 30px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li, ul, a {
    font-size: medium;
    font-weight: normal;
    color: $app-light-blue;
}

a.active {
    text-decoration: underline;
}

//.task-control {
//    margin-top: 2em;
//    .btn {
//        width: 40px;
//        height: 40px;
//        color: $app-light-gray;
//        border: solid 1px $app-light-gray;;
//        background-color: transparent;
//    }
//    .btn:hover {
//        background-color: $app-gray;
//        color: $app-yellow;
//    }
//}

