<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teachingHour">
            <h2><span jhiTranslate="wiss3NApp.teachingHour.detail.title">Teaching Hour</span> {{teachingHour.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wiss3NApp.teachingHour.name">Name</span></dt>
                <dd>
                    <span>{{teachingHour.name}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.teachingHour.weekday">Weekday</span></dt>
                <dd>
                    <span>{{teachingHour.weekday}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.teachingHour.hour">Hour</span></dt>
                <dd>
                    <span>{{teachingHour.hour}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.teachingHour.teachingSubject">Teaching Subject</span></dt>
                <dd>
                    <div *ngIf="teachingHour.teachingSubject">
                        <a [routerLink]="['/teaching-subject', teachingHour.teachingSubject?.id, 'view']">{{teachingHour.teachingSubject?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.teachingHour.schoolClass">School Class</span></dt>
                <dd>
                    <div *ngIf="teachingHour.schoolClass">
                        <a [routerLink]="['/school-class', teachingHour.schoolClass?.id, 'view']">{{teachingHour.schoolClass?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teaching-hour', teachingHour.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
