$nav-bg: #2b3033;
$blue: #dbdbdb;
$red: #e68568;
$yellow: #e6d068;
$green: #68e6ac;
$white: #ffffff;
$ease: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$content-animation: scale(0.7) rotateX(-230deg);

$transparentWhite: rgba(255, 255, 255, 0.5);
$firefly: rgba(0, 0, 0, 0.18);
$white: #fff;

// colors
$main-gray: #707070;
$main-light-gray: #F8F5F0;

* {
    box-sizing: border-box;
}

.panel {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    &__wrapper {
        min-height: 100vh;
        width: 100%;
    }

    &__content {

    }

    &__headline {
        font-weight: 700;
        opacity: 0.8;
        font-size: 48px;
        margin: 0 0 25px 0;
    }

    p {
        margin: 0 0 25px 0;
        //color: lighten(#000602, 10);
        font-size: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__block {
        height: 3px;
        background: rgba(black, 0.2);
        margin: 0 0 25px 0;
    }

    @media (max-width: 640px) {

        &__headline {
            font-size: 36px;
        }

        &__wrapper {
            padding: 10vh 10vw;
        }

        p {
            font-size: 16px;
        }
    }
}

.c-blue {
    color: $blue;
}

.c-red {
    color: $red;
}

.c-green {
    color: $green;
}

.c-yellow {
    color: $yellow;
}

.b-blue {
    background: url("../../../content/images/info/mathew-schwartz-unsplash-min.jpg") no-repeat center top;
    background-size: 100%;
    color: #F8F5F0;
    .panel {
        &__wrapper {
            display: flex;
            &__left {
                min-height: 100vh;
                background: $transparentWhite;
                flex: 50%;
                border-right: 1px solid $main-gray;
            }

            &__right {
                min-height: 100vh;
                flex: 50%;
            }
        }
        &__content {
            &__headline {
                margin-top: 30%;
                margin-left: 20%;

                h2 {
                    font-size: 4rem
                }
            }
        }
    }
}

.b-red {
    background: $red;
}

.b-green {
    background: $green;
}

.b-yellow {
    background: $yellow;
}

.logo {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    z-index: 2;

    img {
        width: 65px;
        transition: $ease;
        transform: rotate(0);

        &:hover {
            transform: rotate(180deg) scale(1.1);
        }
    }
}

/** ---------------------------*/

.panel_card {
    &__image {
        float: left;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin-right: 3vw;
    }

    &__content {
        height: 100%;
        position: relative;
        overflow: hidden;
        min-height: 100%
    }

    &__image-exposure {
        width: 45%;
        position: relative;
        height: 80vh;
        display: inline-block;
        overflow: hidden;
        background: #fff;
        border: 10px solid #fff;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);

    }
    &__image-exposure img {
        height: 100%;
        width: 100%;
        opacity: 0.6;
    }

    &__image-exposure__item {
        background-image: url('../../../content/images/info/calendar.jpg');
        background-color: $white;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        opacity: 0.9;
        min-height: 85vh;
    }
}

.image-hover {

}

// -------------------------------------------

