@import "../../../content/scss/variables";

$nav-bg: #2b3033;
$blue: #dbdbdb;
$red: #e68568;
$yellow: #e6d068;
$green: #68e6ac;
$white: #ffffff;
$ease: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$content-animation: scale(0.7) rotateX(-230deg);

$transparentWhite: rgba(255, 255, 255, 0.5);
$firefly: rgba(0, 0, 0, 0.18);
$white: #fff;

* {
    box-sizing: border-box;
}

.panel {
    width: 100vw;
    min-height: 90vh;
    overflow: hidden;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    &__wrapper {
        min-height: 100vh;
    }

    @media (min-width: 721px) {

        &__content {
            h1 {
                font-size: 5rem
            }

            h2 {
                font-size: 4rem
            }

            h3 {
                font-size: 3rem
            }
            h4 {
                font-size: 2rem
            }
        }
    }

    &__headline {
        font-weight: 700;
        opacity: 0.8;
        font-size: 48px;
        margin: 0 0 25px 0;
    }

    p {
        margin: 0 0 25px 0;
        //color: lighten(#000602, 10);
        font-size: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__block {
        height: 3px;
        background: rgba(black, 0.2);
        margin: 0 0 25px 0;
    }

    @media (max-width: 720px) {

        &__headline {
            font-size: 36px;
        }

        &__wrapper {

        }

        p {
            font-size: 16px;
        }
    }
}

.c-blue {
    color: $blue;
}

.c-red {
    color: $red;
}

.c-green {
    color: $green;
}

.c-yellow {
    color: $yellow;
}

.b-blue {
    background: url("../../../content/images/info/mathew-schwartz-unsplash-min.jpg") no-repeat center top;
    background-size: cover;
    //background-size: 100vw 100vh
    .panel {
        &__wrapper {


            &__left {
                margin: 0;
                padding: 0;
                min-height: 100vh;
                background: $transparentWhite;
                border-right: 1px solid $app-gray;
                color: $app-blue;
                &__content {
                    margin-top: 40%;
                    margin-left: $app-margin-left;

                    h4 {
                        margin-bottom: 1.5em;
                    }
                    p {
                        font-size: 1.3rem;
                        line-height: 1.5rem;
                    }
                }
            }

            &__right {
                min-height: 100vh;
                color: $app-light-gray;
                margin: 0;
                padding: 0;
                &__content {
                    margin-top: 30%;
                    margin-left: 20%;
                }
            }
        }
    }
}

.b-red {
    background: $red;
}

.b-green {
    background: $green;
}

.b-yellow {
    background: $yellow;
}

.logo {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    z-index: 2;

    img {
        width: 65px;
        transition: $ease;
        transform: rotate(0);

        &:hover {
            transform: rotate(180deg) scale(1.1);
        }
    }
}
