<section class="panel b-blue" id="1">
    <article class="panel__wrapper row">
        <div class="panel__wrapper__left col-md order-last order-md-first">
            <div class="panel__content panel__wrapper__left__content">
                <h3>WiSS3N</h3>
                <h4>ist eine cooperative Lernplattform.</h4>
                <p>Werf deine Aufsätze und Presentationen nicht weg, teile sie.</p>
                <p>Hole dir Hilfe von anderen.</p>
                <p>Jeder hat seine eigene Sicht auf die Dinge.</p>
            </div>

        </div>
        <div class="panel__wrapper__right col-md order-first order-md-last">
            <div class="panel__content  panel__wrapper__right__content">
                <h2>Lernen, Vernetzen, Austauschen </h2>
            </div>
        </div>
    </article>
</section>
<section class="panel b-yellow" id="2">
    <article class="panel__wrapper">
        <div class="panel__content">
            <h1 class="panel__headline"><i class="fa fa-bolt"></i>&nbsp;Lightning</h1>
            <div class="panel__block"></div>
            <p>Paleo authentic mlkshk taxidermy, vinyl meditation lomo drinking vinegar sartorial raw denim Thundercats
                bitters selvage listicle. Keffiyeh Williamsburg gastropub McSweeney's.</p>
        </div>
    </article>
</section>
<section class="panel b-red" id="3">
    <article class="panel__wrapper">
        <div class="panel__content">
            <h1 class="panel__headline"><i class="fa fa-music"></i>&nbsp;Music</h1>
            <div class="panel__block"></div>
            <p>Beard sriracha kitsch literally, taxidermy normcore aesthetic wayfarers salvia keffiyeh farm-to-table
                sartorial gluten-free mlkshk. Selvage normcore 3 wolf moon, umami Kickstarter artisan meggings cardigan
                drinking vinegar bicycle rights.</p>
        </div>
    </article>
</section>
<section class="panel b-green" id="4">
    <article class="panel__wrapper">
        <div class="panel__content">
            <h1 class="panel__headline"><i class="fa fa-paper-plane"></i>&nbsp;Paper Planes</h1>
            <div class="panel__block"></div>
            <p>90's wayfarers lomo you probably haven't heard of them trust fund banh mi. Flannel Shoreditch
                dreamcatcher, quinoa flexitarian Banksy pickled post-ironic lo-fi. Photo booth asymmetrical tousled
                letterpress.</p>
        </div>
    </article>
</section>
<a href="http://ettrics.com/code/vertical-layout-navigation/" class="logo" target="_blank">
    <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt=""/>
</a>

<
