<div class="row board">
    <div class="left-board col-md-2">
        <div>
            <h4>Klassen</h4>
            <ul>
                <li><a href="#" class="active">Klasse 1a</a></li>
                <li><a href="#">Nachhilfe</a></li>
            </ul>

        </div>

        <div>
            <h4>Aufgaben</h4>
            <ul>
                <li><a href="#">Klasse 1a</a></li>
                <li><a href="#">Nachhilfe</a></li>
            </ul>
        </div>

    </div>
    <div class="col-md">
        <jhi-calendar></jhi-calendar>
    </div>
</div>
