@import "../../../content/scss/variables";

* {
    box-sizing: border-box;
}

.board {
    width: 100vw;
}
.left-board {
    background-color: $app-blue;
    color: $app-light-gray;
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom: 2em;

    h4 {
        margin-top: 2em;
        font-size: smaller;
        color: $app-gray-blue;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li, ul, a {
        font-size: medium;
        font-weight: normal;
        color: $app-light-blue;
    }

    a.active {
        text-decoration: underline;
    }
}
