<section>
    <div class="row">
        <div class="col-md-2 ">
            <div>
                <h3>Klassen</h3>
                <ul>
                    <li><a href="#">Klasse 1a</a>></li>
                    <li><a href="#">Nachhilfe</a>>></li>
                </ul>
            </div>


            <div>
                <h3>Aufgaben</h3>
                <ul>
                    <li><a href="#">Klasse 1a</a>></li>
                    <li><a href="#">Nachhilfe</a>>></li>
                </ul>
            </div>

        </div>
        <div class="col-md">
            <jhi-calendar></jhi-calendar>
        </div>
    </div>
</section>
