<div [hidden]="submitted" >
    <form name="selectForm" role="form" novalidate #selectForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <select class="form-control" id="field_teachingSubject" required [(ngModel)]="teachingSubject" name="teachingSubject">
                <option *ngFor="let ts of (teachingSubjects$ | async)" [ngValue]="ts">{{ts.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">OK</button>
        </div>
    </form>
</div>

<div [hidden]="!submitted">
    <div class="cal-event-title">
        <div class="col-xs-9">{{ teachingSubject.name }}</div>
        <div class="col-xs-3 pull-left"><button class="btn btn-primary" (click)="submitted=false">Edit</button></div>
    </div>
</div>
