<ng-template #customMonthCellTemplate let-day="day" let-locale="locale">
    <jhi-calendar-view-month-cell
        [day]="day"
        [locale]="locale"
    ></jhi-calendar-view-month-cell>
</ng-template>

<mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [excludeDays]="excludeDays"
    [locale]="'de'"
    (dayClicked)="onDayClicked($event)"
    [cellTemplate]="customMonthCellTemplate"
>

<!--[activeDayIsOpen]="activeDayIsOpen"-->
    <!--(dayClicked)="dayClicked($event.day)"-->
    <!--(eventClicked)="handleEvent('Clicked', $event.event)"-->
    <!--(eventTimesChanged)="eventTimesChanged($event)">-->
</mwl-calendar-month-view>
