/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    /* calendar.component.ts */
    .cal-day-view {
        .line.right {
            left: 149px;
        }
    }

    .cal-tooltip {
        left: 200px !important;
    }

    /* subject-hour-view.component-ts */
    .subject-hour-view {
        left: 150px;
    }
}

@media (max-width: 767px) {
    .cal-tooltip {
        left: 30px !important;
    }
}


/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {
    /* calendar.component.ts */
    .cal-day-view {
        .line.right {
            left: 39px;
        }
    }
    .cal-day-view .cal-event-title {
       display: none;
    }

    .cal-day-view .cal-event-title-number {
        font-weight: bold;
        text-decoration: underline;
    }

    .cal-tooltip {
        left: 0 !important;
    }

    /* subject-hour-view.component-ts */
    .subject-hour-view {
        left: 40px;
    }

}
