
<div *ngIf="task">
    <h2><span jhiTranslate="klassenchatappApp.task.detail.title">Task</span> {{task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="klassenchatappApp.task.titel">Titel</span></dt>
        <dd>
            <span>{{task.titel}}</span>
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.task.content">Content</span></dt>
        <dd>
            <span>{{task.content}}</span>
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.task.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'klassenchatappApp.TaskType.' + task.type}}">{{task.type}}</span>
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.task.start">Start</span></dt>
        <dd>
            <span>{{task.start | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.task.end">End</span></dt>
        <dd>
            <span>{{task.end | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.task.user">User</span></dt>
        <dd>
            {{task.userLogin}}
        </dd>
        <dt><span jhiTranslate="klassenchatappApp.task.teachingSubject">Teaching Subject</span></dt>
        <dd>
            <div *ngIf="task.teachingSubjectId">
                <a [routerLink]="['/teaching-subject-class-app', task.teachingSubjectId]">{{task.teachingSubjectName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task-class-app/'+ task.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
