<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaskLabel" jhiTranslate="klassenchatappApp.task.home.createOrEditLabel">Create or edit a Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!task.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="task.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.task.titel" for="field_titel">Titel</label>
            <input type="text" class="form-control" name="titel" id="field_titel"
                [(ngModel)]="task.titel" required minlength="2"/>
            <div [hidden]="!(editForm.controls.titel?.dirty && editForm.controls.titel?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titel?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titel?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.task.content" for="field_content">Content</label>
            <textarea class="form-control" name="content" id="field_content"
                [(ngModel)]="task.content" ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.task.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="task.type" id="field_type"  required>
                <option value="HAUSAUFGABE">{{'klassenchatappApp.TaskType.HAUSAUFGABE' | translate}}</option>
                <option value="VORTRAG">{{'klassenchatappApp.TaskType.VORTRAG' | translate}}</option>
                <option value="KURZKONTROLLE">{{'klassenchatappApp.TaskType.KURZKONTROLLE' | translate}}</option>
                <option value="TEST">{{'klassenchatappApp.TaskType.TEST' | translate}}</option>
                <option value="KLASSENARBEIT">{{'klassenchatappApp.TaskType.KLASSENARBEIT' | translate}}</option>
                <option value="KLAUSUR">{{'klassenchatappApp.TaskType.KLAUSUR' | translate}}</option>
                <option value="MUENDLICH">{{'klassenchatappApp.TaskType.MUENDLICH' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.task.start" for="field_start">Start</label>
            <div class="input-group">
                <input id="field_start" type="text" class="form-control" name="start" ngbDatepicker  #startDp="ngbDatepicker" [(ngModel)]="task.start"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="startDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.start?.dirty && editForm.controls.start?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.start?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.task.end" for="field_end">End</label>
            <div class="input-group">
                <input id="field_end" type="text" class="form-control" name="end" ngbDatepicker  #endDp="ngbDatepicker" [(ngModel)]="task.end"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="endDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.end?.dirty && editForm.controls.end?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.end?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="klassenchatappApp.task.teachingSubject" for="field_teachingSubject">Teaching Subject</label>
            <select class="form-control" id="field_teachingSubject" name="teachingSubject" [(ngModel)]="task.teachingSubjectId"  required>
                <option *ngIf="!editForm.value.teachingSubject" [ngValue]="null" selected></option>
                <option [ngValue]="teachingSubjectOption.id" *ngFor="let teachingSubjectOption of teachingsubjects; trackBy: trackTeachingSubjectById">{{teachingSubjectOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.teachingSubject?.dirty && editForm.controls.teachingSubject?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.teachingSubject?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
