<!-- Top Bar -->
<nav class="navbar">
    <ul class="nav navbar-nav navbar-left" [ngSwitch]="isAuthenticated()">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" routerLink="/"><img src="../../../content/images/logo.png" width="30" alt="Wiss3n"><span class="m-l-10">Wiss3n</span></a>
            </div>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-sm" data-close="true">
                <i class="zmdi zmdi-arrow-left"></i>
                <i class="zmdi zmdi-arrow-right"></i>
            </a>
        </li>

        <li class="dropdown app_menu">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="zmdi zmdi-apps"></i></a>
            <ul class="dropdown-menu pullDown">
                <li><a routerLink="/"><i class="zmdi zmdi-calendar-note m-r-10"></i><span>Calendar</span></a></li>
            </ul>
        </li>

        <li class="float-right" *ngSwitchCase="true">
            <a routerLink="/authentication/sign-in" class="mega-menu"><i class="zmdi zmdi-power"></i></a>
        </li>

        <li *ngSwitchCase="false" class="float-right" >
            <a class="dropdown-item" (click)="login()" id="login">
                <fa-icon [icon]="'sign-in-alt'" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">Sign in</span>
            </a>
        </li>

        <li *ngSwitchCase="false" class="float-right" >
            <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="'user-plus'" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Register</span>
            </a>
        </li>

    </ul>
</nav>


















