@import "../../../content/scss/variables";

/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: $app-light-gray;
}

/* Custom ================================================================== */

.navbar-fixed {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    color: $app-light-gray;
    a {
        font-size: 1rem;
        color: $app-light-gray;
        font-weight: normal;
        text-transform: none;
    }
}

.navbar-shown {
    background-color: $app-gray;
    opacity: 0.8;
}

a.dropdown-item {
    color: $app-light-gray;
}

a.dropdown-item.active, a.dropdown-item:active {
    color: $app-gray;
    text-decoration: none;
    background-color: $app-light-gray;
}


a.dropdown-item:hover {
    background-color: $app-light-gray;
    color: $app-gray !important;
}

.dropdown-menu {
    background-color: $app-gray;
}


@media(min-width: 767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

}

/* End Custom ================================================================== */

.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

.navbar-brand {
    margin-left: $app-margin-left;
}
/* ==========================================================================
Logo styles
========================================================================== */
