<!-- Top Bar -->
<ng-container [ngSwitch]="isAuthenticated()">

    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center" *ngSwitchCase="false">
        <!--<a href="/" class="navbar-brand d-flex w-50 mr-auto">Navbar 3</a>-->
        <a class="navbar-brand m-l-20" routerLink="/">
            <img src="../../../content/images/logo.svg" width="50" alt="Wiss3n">
            <span class="m-l-10">Wiss3n</span>
        </a>

        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">

            <div class="nav navbar-nav ml-auto w-100 justify-content-end">
                <a class="btn-primary btn-simple btn-round  m-r-10" routerLink="login" routerLinkActive="active">
                    <span>Login</span>
                </a>
                <a class="btn-primary btn-simple btn-round m-r-20" routerLink="register" routerLinkActive="active">
                    <span>Register</span>
                </a>
            </div>
        </div>
    </nav>


    <nav class="navbar" *ngSwitchCase="true">
        <ul class="nav navbar-nav navbar-left">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="bars" (click)="toggleSMSidebar()"></a>
                    <a class="navbar-brand" routerLink="/">
                        <img src="../../../content/images/logo.svg"
                             width="50"
                             alt="Wiss3n">
                        <span class="m-l-10">Wiss3n</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-sm" data-close="true" (click)="toggleSidebar()">
                    <i class="zmdi zmdi-arrow-left"></i>
                    <i class="zmdi zmdi-arrow-right"></i>
                </a>
            </li>

            <li class="dropdown app_menu">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"><i
                    class="zmdi zmdi-apps"></i></a>
                <ul class="dropdown-menu pullDown">
                    <li><a routerLink="/"><i
                        class="zmdi zmdi-calendar-note m-r-10"></i><span>Calendar</span></a></li>
                </ul>
            </li>

            <li class="float-right" *ngSwitchCase="true">
                <a href="javascript:void(0);" class="mega-menu" (click)="logout()" id="logout" ><i class="zmdi zmdi-power"></i></a>
            </li>

        </ul>
    </nav>
</ng-container>
