<ng-container [ngSwitch]="isAuthenticated()">

    <!--<div class="alert alert-success" *ngSwitchCase="true">-->
    <!--<span *ngIf="account" jhiTranslate="home.logged.message"-->
    <!--translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>-->
    <!--</div>-->

    <!--<jhi-calendar-board *ngSwitchCase="true"></jhi-calendar-board>-->



    <jhi-dashboard *ngSwitchCase="true"></jhi-dashboard>

    <jhi-info *ngSwitchCase="false"></jhi-info>
</ng-container>
