// Main colors
$app-dark-gray: #3E3F3A;
$app-gray: #707070;
$app-bootstrap-gray: #8E8C84;
$app-light-gray: #F8F5F0;
$app-blue: #545871;
$app-gray-blue: #9597A6;
$app-light-blue: #F0F1F7;
$app-yellow: #FFFF00;

// Main Collors Backgrounds
$transparentWhite: rgba(255, 255, 255, 0.5);


// Spaces
// left boarder
$app-margin-left: 2.14em;
