<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <button
                class="btn btn-primary btn-round"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="navigateCalendar('back')">
                Previous
            </button>

            <button class="btn btn-primary btn-round waves-effect" id="change-view-today" mwlCalendarToday
                    [(viewDate)]="viewDate">today
            </button>
            <button
                class="btn btn-primary btn-round"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="navigateCalendar('forward')">
                Next
            </button>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'de' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <button class="btn btn-default btn-simple btn-round waves-effect" id="change-view-day"
                    (click)="view = 'day'" [class.active]="view === 'day'">Day
            </button>
            <button class="btn btn-default btn-simple btn-round waves-effect" id="change-view-week"
                    (click)="view = 'week'" [class.active]="view === 'week'">Week
            </button>
            <button class="btn btn-default btn-simple btn-round waves-effect" id="change-view-month"
                    (click)="view = 'month'" [class.active]="view === 'month'">Month
            </button>
        </div>
    </div>
</div>
