<div class="row text-center calendar-head">
    <div class="col-md-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="navigateCalendar('back')">
                Previous
            </div>
            <div
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate">
                Today
            </div>
            <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="navigateCalendar('forward')">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'de' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                (click)="view = 'month'"
                [class.active]="view === 'month'">
                Month
            </div>
            <div
                class="btn btn-primary"
                (click)="view = 'week'"
                [class.active]="view === 'week'">
                Week
            </div>
            <div
                class="btn btn-primary"
                (click)="view = 'day'"
                [class.active]="view === 'day'">
                Day
            </div>
        </div>
    </div>
</div>
