<div>
    <h4 id="page-heading">
        <span class="title"> Klassen
        <button id="jh-create-entity"
                class="btn btn-outline-dark float-right btn-sm rounded-circle  jh-create-entity create-school-class"
                [routerLink]="['/school-class/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
        <button id="jh-view-entity"
                class="btn btn-outline-dark float-right btn-sm rounded-circle  jh-create-entity create-school-class"
                [routerLink]="['/school-class']">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
        </button>
        </span>
    </h4>
    <br/>
    <div class="table-responsive" *ngIf="schoolClasses.length > 0; else create_school_class">
        <ul *ngFor="let schoolClass of schoolClasses ;trackBy: trackId">
            <li (click)="setSchoolClassActive(schoolClass.id)">
                <a href="#" [ngClass]="{'active': schoolClass.id== activeClassId}">{{schoolClass.name}}</a>
            </li>
        </ul>
    </div>

    <ng-template #create_school_class>
        <span>Lege eine Klasse an!</span>
    </ng-template>
</div>
