<div *ngIf="(teachingSubjects$ | async ) !== null">
    <h4>
        <span class="title">Unterrichtsfächer
            <button id="jh-view-teaching-subject"
                    class="btn btn-outline-dark btn-sm float-right rounded-circle  jh-create-entity create-school-class"
                    [routerLink]="['/teaching-subject/new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
            </button>
            <button id="jh-view-entity"
                    class="btn btn-outline-dark btn-sm float-right rounded-circle  jh-create-entity create-school-class"
                    [routerLink]="['/teaching-subject']">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
            </button>
        </span>
    </h4>
    <br/>
    <div class="table-responsive" *ngIf="teachingSubjects.length > 0; else create_teaching_subjects">
        <ul *ngFor="let teachingSubject of teachingSubjects ;trackBy: trackId">
            <li >{{teachingSubjects.name}}</li>
        </ul>
    </div>

    <ng-template #create_teaching_subjects>
        <span>Lege Unterrichtsfächer an!</span>
    </ng-template>
</div>
