<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teachingSubject">
            <h2><span jhiTranslate="wiss3NApp.teachingSubject.detail.title">Teaching Subject</span> {{teachingSubject.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wiss3NApp.teachingSubject.name">Name</span></dt>
                <dd>
                    <span>{{teachingSubject.name}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.teachingSubject.prefix">Prefix</span></dt>
                <dd>
                    <span>{{teachingSubject.prefix}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.teachingSubject.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'wiss3NApp.SubjectType.' + teachingSubject.type}}">{{teachingSubject.type}}</span>
                </dd>
                <dt><span jhiTranslate="wiss3NApp.teachingSubject.user">User</span></dt>
                <dd>
                    {{teachingSubject.user?.login}}
                </dd>
                <dt><span jhiTranslate="wiss3NApp.teachingSubject.schoolClass">School Class</span></dt>
                <dd>
                    <div *ngIf="teachingSubject.schoolClass">
                        <a [routerLink]="['/school-class', teachingSubject.schoolClass?.id, 'view']">{{teachingSubject.schoolClass?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teaching-subject', teachingSubject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
