<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-teaching-subject-heading" jhiTranslate="wiss3NApp.teachingSubject.home.createOrEditLabel">Create or edit a Teaching Subject</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!teachingSubject.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="teachingSubject.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.teachingSubject.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="teachingSubject.name" required minlength="2"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.teachingSubject.prefix" for="field_prefix">Prefix</label>
                    <input type="text" class="form-control" name="prefix" id="field_prefix"
                        [(ngModel)]="teachingSubject.prefix" required minlength="2"/>
                    <div [hidden]="!(editForm.controls.prefix?.dirty && editForm.controls.prefix?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prefix?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.prefix?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.teachingSubject.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="teachingSubject.type" id="field_type"  required>
                        <option value="HAUPFACH">{{'wiss3NApp.SubjectType.HAUPFACH' | translate}}</option>
                        <option value="NEBENFACH">{{'wiss3NApp.SubjectType.NEBENFACH' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wiss3NApp.teachingSubject.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="teachingSubject.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === teachingSubject.user?.id ? teachingSubject.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
