<ng-template #customEventTitleTemplate let-event="event" let-view="view">
    <jhi-calendar-view-week-cell-title [lesson]="event.meta"></jhi-calendar-view-week-cell-title>
</ng-template>

<div
    class="cal-event"
    [style.backgroundColor]="event.color?.secondary"
    [style.borderColor]="event.color?.primary"
    (mwlClick)="onCellClicked($event)">
    <mwl-calendar-event-actions [event]="event"></mwl-calendar-event-actions>
    <jhi-calendar-view-week-cell-teaching-subject
        [teachingHourId]="teachingHourId">
    </jhi-calendar-view-week-cell-teaching-subject>

    <!--<jhi-select-teaching-subject *ngIf="!weekEvent.event.meta.subjectHour.teachingSubject"></jhi-select-teaching-subject>-->

    <!--<jhi-select-teaching-subject-->
    <!--[subjectHourData]="weekEvent.event.meta.subjectHourData">-->
    <!---->
    <!--</jhi-select-teaching-subject>-->
    <!--<div *ngFor="let taskEvent of weekEvent.event.meta.events;" class="xx">-->
    <!--<span class="custom-event-month-subject" [ngStyle]="{'color': taskEvent.color.primary}">{{convertTypeToString(taskEvent.meta.task.type)}}</span>-->
    <!--{{taskEvent.title}}-->
    <!--</div>-->
</div>
