<div class="authentication sidebar-collapse" id="login">
    <div class="page-header">
        <div class="container">
            <div class="col-md-12 content-center">
                <div class="card-plain">
                    <form class="form" *ngIf="success || errorEmailNotExists">

                        <div class="header">
                            <div class="logo-container expandUp">
                                <img src="../../../../content/images/logo.svg" alt="">
                            </div>
                            <h5 jhiTranslate="reset.request.title">Reset your password</h5>
                        </div>

                        <div class="alert alert-success">
                            <p jhiTranslate="reset.request.messages.success">Check your emails for details on how to
                                reset your password.</p>
                        </div>

                    </form>

                    <form class="form" role="form" *ngIf="!success && ! errorEmailNotExists" name="form"
                          (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                        <div class="header">
                            <div class="logo-container expandUp">
                                <img src="../../../../content/images/logo.svg" alt="">
                            </div>
                            <h5 jhiTranslate="reset.request.title">Reset your password</h5>
                        </div>

                        <div class="alert alert-warning" *ngIf="!success">
                            <p jhiTranslate="reset.request.messages.info">Enter the email address you used to
                                register.</p>
                        </div>

                        <div class="content">

                            <div class="input-group">
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="{{'global.form.email.placeholder' | translate}}"
                                       [(ngModel)]="resetAccount.email" minlength=5 maxlength=254 #emailInput="ngModel"
                                       email required>
                                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                                <div *ngIf="emailInput.dirty && emailInput.invalid">
                                    <small class="form-text text-danger"
                                           *ngIf="emailInput.errors.required"
                                           jhiTranslate="global.messages.validate.email.required">
                                        Your email is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="emailInput.errors.email"
                                           jhiTranslate="global.messages.validate.email.invalid">
                                        Your email is invalid.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="emailInput.errors.minlength"
                                           jhiTranslate="global.messages.validate.email.minlength">
                                        Your email is required to be at least 5 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="emailInput.errors.maxlength"
                                           jhiTranslate="global.messages.validate.email.maxlength">
                                        Your email cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>

                        </div>
                        <div class="footer">
                            <button type="submit" [disabled]="resetRequestForm.form.invalid"
                                    class="btn btn-primary btn-round btn-lg btn-block"
                                    jhiTranslate="reset.request.form.button">Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

